body {
	margin: 0;
	padding: 0;
}

.person {
	width: 600px;
	margin: 0 auto;
	margin-top: 160px;
}

.face {
	position: relative;
	background: #FFE8DC;
	width: 170px;
    height: 150px;
    border-radius: 35px 35px 80px 80px;
    box-shadow: 0 1px 1px 0 #EBC3A9;
}

.face:before {
	transform: rotate(-45deg);
    transform-origin: 0 100%;
    left: 85px;
    box-shadow: 0 1px 1px 0 #E9C8B4;
}

.face:after {
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
	box-shadow: 1px 1px 1px 0 #E9C8B4;
}

.face:before, .face:after {
	position: absolute;
    content: '';
    top: 70px;
    width: 85px;
    height: 120px;
    background: #FFE8DC;
    border-radius: 50px 50px 30px 30px;
    z-index: 1;
}

.neck {
	position: relative;
    width: 60px;
    height: 80px;
    margin-left: 55px;
    background: #FFE8DC;
}

.chest {
	position: relative;
}

.chest:before, .chest:after {
	position: absolute;
    content: '';
    margin-left: -40px;
    width: 140px;
    height: 180px;
    background: #FFE8DC;
}

.chest:before {
	transform: rotate(10deg);
    transform-origin: 100% 100%;
    left: 90px;
    border-radius: 5px 50px;
}

.chest:after {
	left: 20px;
	transform-origin: 0 100%;
	transform: rotate(-10deg);
	border-radius: 50px 5px;
}

.dress {
	position: relative;
    top: 35px;
    border-top: 120px solid #DDE2E9;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 100px;
    border-radius: 30px 30px 80px 80px;
    margin-left: -15px;
}

.dress:after {
  content: '';
  display: block;
  position: relative;
  width: 120px;
  border-bottom: 455px solid #DDE2E9;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-radius: 80px 80px 20px 20px;
  margin-left: -80px;
}

.hands:before, .hands:after {
  position: absolute;
  content: '';
  display: block;
  width: 55px;
  height: 110px;
  background: #FFE8DC;
  border-radius: 50%;
  z-index: 1;
  margin-top: 132px;
}

.hands:before {
  transform: rotate(-70deg);
  margin-left: 5px;
}

.hands:after {
    transform: rotate(70deg);
    margin-left: 110px;
}

.eye {
	display: inline-block;
    position: relative;
    width: 35px;
    height: 38px;
    border-radius: 10px 30px;
    background: linear-gradient(to bottom, #B2B2B2, #DBDBDB 25%, #FFFFFF);
    margin: 60px 0 0 33px;
    z-index: 2;
}

.eye:before, eye:after {
	content: '';
    display: block;
    width: 27px;
    position: absolute;
    height: 27px;
    border-radius: 20px;
    margin: 7px 0 0px 5px;
    background: radial-gradient(ellipse at center, #00D9FF, rgb(0, 140, 184) 45%, rgb(0, 137, 209) 45%, rgb(0, 60, 75) 72%);
}

.left {
	box-shadow: -1px -3px 4px 1px #2C1F1A, inset 0px 4px 2px 0px #323232, -2px -1px 6px 1px #0978D7;
    transform: rotate(-30deg);
}

.left .hotspot {
	transform: rotate(30deg);
}

.right .hotspot {
	transform: rotate(70deg);
}

.right {
	box-shadow: 2px 3px 4px 1px #2C1F1A, inset -4px 0px 2px 0px #323232, 1px 3px 6px 1px #0978E7;
    transform: rotate(-70deg);
}

.hotspot {
	width: 13px;
    height: 16px;
    border-radius: 50%;
    background-color: black;
    z-index: 3;
    position: relative;
    margin: 12px 0 0 11px;
    box-shadow: 0 0 1px 1px #3B322A;
}

.hotspot:before {
	content: '';
    width: 10px;
    position: absolute;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    margin: -3px 0 0 7px;
    box-shadow: 0 0 5px 1px #FFFFFF, 0 0 5px 1px #CDF0FF;
    opacity: .8;
}

.hotspot:after {
    content: '';
    width: 3px;
    position: absolute;
    height: 3px;
    background-color: white;
    border-radius: 50%;
    margin: 10px 0 0 -2px;
    box-shadow: 0 0 7px 2px #FFFFFF, 0 0 7px 2px #AEEAFF;
    opacity: .9;
}

.nose {
	position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 8px solid #D9C3B8;
    margin: 18px 0 0px 74px;
    z-index: 2;
    border-radius: 20px;
}

.nose:before {
    content: '';
    border-bottom: 16px solid #E3D0C7;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    width: 13px;
    position: relative;
    margin: -24px 0 0 -10px;
    display: block;
}

.nose:after {
    content: '';
    display: block;
    background-image: linear-gradient(to bottom, #FFE8DC, transparent);
    width: 15px;
    z-index: 4;
    position: relative;
    height: 16px;
    margin: -16px 0 0 -7px;
}

.lips {
	position: relative;
    z-index: 3;
    width: 35px;
    height: 5px;
    background: linear-gradient(to top, rgba(248,80,50,1) 0%, rgb(184, 31, 8) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    margin: 13px 0 0 67px;
    display: block;
    box-shadow: 0 0 2px 0 #5E0000;
    border-radius: 50%;
}

.lips:after {
    display: block;
    content: '';
    width: 31px;
    height: 17px;
    position: absolute;
    background: linear-gradient(to bottom, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 50%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);
    margin: -4px 0 0 2px;
    border-radius: 50%;
}

.hair {
	width: 220px;
    margin-left: -25px;
    height: 300px;
    background: linear-gradient(to top,rgba(210, 34, 0, 1) 30%,rgba(255, 67, 0, 1) 60%,rgba(199,34,0,1) 100%);
    position: absolute;
}

.forelock {
	width: 220px;
    height: 120px;
    border-radius: 50%;
    margin-top: -55px;
    background: linear-gradient(to bottom,rgba(199,34,0,1) 30%, rgba(234,40,3,1) 51%,rgba(255, 67, 0, 1) 75%,rgba(199,34,0,1) 100%);
    position: absolute;
    z-index: 1;
}

#heart {
	display: none;
    position: relative;
    width: 100px;
    height: 90px;
}

.field1 {
    width: 80%;
    bottom: -400px;
    left: 0;
    position: fixed;
    height: 600px;
    border-radius: 0 50% 50% 0;
    background: linear-gradient(to bottom, #5CBA4C 10%, #279414 25%, #0B4D00);
    display: inline-block;
}

.field2 {
  width: 50%;
  bottom: -400px;
  right: -100px;
  position: fixed;
  z-index: -1;
  height: 700px;
  border-radius: 50% 0 0 50%;
  background: linear-gradient(to bottom, #A8DB8F, #A1C870, #5CBA4C, #279414);
  display: inline-block;
}

.field3 {
    display: none;
    width: 200px;
    bottom: 0;
    height: 200px;
    background: linear-gradient(to bottom, #BBFFC6, #7BC36F);
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin :100% 100%;
}
